<div>
    <h1>Hi <%=token.name %></h1>
    <h3>Click on reset password to reset your Password</h3>
    <h4><a href="http://127.0.0.1:8000/forget-password/set-password/<%=token.access_token%>">Reset Password</a></h4>
    <p style="color: navy;">Thank you</p>
    <p style="color: blueviolet;">Node JS Authentication</p>
</div>