<link rel="stylesheet" href="css/change-password.css">
<div class="container col-md-8 col-sm-10 col-sm-offset-1 col-xs-12 col-md-offset-2">
        <div class="home-container">
            <h1>Change Password</h1>
            <form action="/users/update-password" method="POST">
                <label for="email">Old Passowrd :</label>
                <br>
                <input type="password" name="old_password" id="old_password" placeholder="Old Password" required>
                <br>
                <label for="new_password">New Password :</label>
                <br>
                <input type="password" name="new_password" id="new_password" placeholder="New Password" required>
                <br>
                <label for="confirm_password">New Password :</label>
                <br>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="confirm_password" required>
                <br>
                <br>
                <input type="submit" value="Update Password">
                <br>
            </form>   
        </div>
    </ul>
</div>
