<div class="container col-md-4 col-sm-10 col-sm-offset-1 col-xs-12 col-md-offset-4 form-container">
    <div class="form-heading">Reset Password</div>      
    <form action="/forget-password/reset-mail" method="POST">
        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
        </div>
        <button type="submit" class="btn btn-info width-100-percent button-heading">Forget Password</button>
    </form>
</div>