<div class="container col-md-8 col-sm-10 col-sm-offset-1 col-xs-12 col-md-offset-2">
    <div class="home-container">
        <h1>Profile</h1>
        <div class="text-heading">Name : <%= user.name %></div>
        <div class="text-heading">Email : <%= user.email %></div>
        <div class="text-heading" id="change-password"><a href="/users/change-password">Change Password</a></div>
    </div>
</div>
