<link rel="stylesheet" href="css/home.css">
<div class="container col-md-8 col-sm-10 col-sm-offset-1 col-xs-12 col-md-offset-2">
        <h1>Profile</h1>
        <h1><%= user.name %></h1>
        <h1><%= user.email %></h1>
        <h2><a href="/users/change-password">Change Password</a></h2>
    </ul>
</div>