<div class="container col-md-4 col-sm-10 col-sm-offset-1 col-xs-12 col-md-offset-4 form-container">
    <div class="form-heading">Reset Password</div>      
    <form action="/forget-password/save-password/<%= token %>" method="POST">
        <div class="form-group">
            <label for="new_password">New Password :</label>
            <input type="password" name="new_password" class="form-control" id="new_password" placeholder="New Password" required>
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password :</label>
            <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="Confirm Password" required>
        </div>
        <button type="submit" class="btn btn-info width-100-percent button-heading">Save Password</button>
    </form>
</div>