//commong css shared among all the pages
.form-heading
{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-family: cursive;
    color: #202093;
    font-size: 50px;
}
.nav-heading
{
    font-size: 2rem;
    font-weight: bolder;
    color: whitesmoke!important;
    a
    {
        color: whitesmoke!important;
    }
}

.nav-background-color
{
    background:linear-gradient(45deg, #c70422,#ff2a2a,#d50e0e, #d41818)!important;
}

.form-container
{
    background: #ffe80878;
    padding: 3%;
    margin-top: 2%;
    border-radius: 32px;
    box-shadow: 0px 2px 2px 3px navy;

    label
    {
        font-family: sans-serif;
        color: #3724ae;
        font-size: 1.8rem;
    }
}

.width-100-percent
{
    width:100%;
}

.button-heading
{
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    a:hover
    {
        color:white;
    }
}

a{
    color:inherit;
    text-decoration: none;
}

#forget-password-link
{
    justify-content: center;
    font-size: 1.7rem;
    text-align: center;
    display: flex;
    color: navy;
    padding: 2%;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5%;
    padding: 10%;
    background: crimson;
    border-radius: 60px;

    h1{
        font-size: 57px;
        font-weight: bolder;
        color: beige;
    }

    h2{
        font-size: 50px;
    }
}

a
{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.text-heading
{
    font-size: 2.5rem;
    font-weight: 700;
    color: whitesmoke;
    padding: 1%;
    margin: 1%;
}

#change-password
{
    background-color: #e8e80d;
    color: navy;
    border-radius: 10px;
    padding: 1.5%;
    box-shadow: 1px 1px 1px 1px navy;
}