<div>
    <h1>Hi <%= data.name %></h1>
    <h2>Click on link below to verify your account</h2>
    <h3><a href="http://127.0.0.1:8000/verification-email/verify-email/<%=data.token%>">Verify Email</a></h3>
    <p style="color: navy;">Thank you</p>
    <p style="color: darkorange;">Authentication NodeJs</p>
</div>